.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-group {
  text-align: left;
}

.link {
  padding: 0.4rem 0.8rem;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  color: #ffffff;
  margin: 5px;
}


#navbar-custom {
  background-color: #c24646;
}

#link-txt {
  color: #f8f9fa;
}

#link-txt:hover {
  color: #414c57;
}

.slide-show-div {
  width: 55%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.slide-div {
  width: 100%;
  height: 100%;
}
.slide-div img {
  width: 100%;
  border-radius: 5px;
  border-color: #c24646;
  border-style: solid;
}

.h2-txt {
  font-size: 80px;
  color: white;
  text-align: left;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 2%;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: #282c3465;
}

.img-title {
  position: absolute;
  width: 55%;
  height: 100px;
  top: 63%;
}
.right-arrow {
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0%;
  height: fit-content;
  width: 60px;
  margin: auto;
}

.left-arrow {
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 50%;
  height: fit-content;
  width: 60px;
  margin: auto;
}

.left-arrow button,
.right-arrow button {
  border-style: none;
  width: 60px;
  color: white;
  background-color: #414c57a6;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.welcome-msg {
  width: 45%;
  position: absolute;
  left: 25%;
  margin: 15px;
  top: 80%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  margin: 0 auto 20px;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

li {
  font-size: large;
}

p {
  font-size: medium;
}

.wrapper {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.grid-item {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.title {
  grid-column: 1 / span 5;
  grid-row: 1;
  text-align: left;
  font-size: xxx-large;
}

.image {
  grid-column: 1 / span 3;
  grid-row: 2 / span 6;
}

.reviews {
  grid-column: 1 / span 3;
  grid-row: 8 / span 3;
}

.chat {
  grid-column: 4 / span 2;
  grid-row: 8 / span 3;
}

.address {
  grid-column: 4 / span 2;
  grid-row: 2 / span 1;
  text-align: left;
}

.facts {
  text-align: left;
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
}

.description {
  text-align: left;
  grid-column: 4 / span 2;
  grid-row: 5 / span 3;
}

.map-container {
  height: 400px;
}

.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.map-popup h1 {
  color: #c24646;
  font-size: 14px;
  margin-top: 15px;
}

.map-container {
  width: 65%;
}
.map {
  display: flex;
  justify-content: center;
  height: 80%;
  margin-top: 20px;
}

.button {
  padding: 0.4rem 0.8rem;
  background-color: #c24646;
  border-radius: 3px;
  color: #ffff;
  text-decoration: none !important;
  margin: 5px;
  font-size: large;
}

.itinerary-container {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.itinerary-title {
  grid-column: 1 / span 15;
  grid-row: 1;
  text-align: center;
}

.itinerary-stop-title {
  grid-column: 1 / span 15;
  grid-row: 1;
  text-align: left;
  font-size: x-large;
  padding: 1%;
}

.itinerary {
  background-color: #ffdcdc;
}

.imageOne{
  grid-column: 10 / span 3;
  grid-row: 7 / span 20;
}

.imageTwo {
  grid-column: 13 / span 3;
  grid-row: 4 / span 20;
}

.imageThree{
  grid-column: 1 / span 3;
  grid-row: 8 / span 20;
}

.imageFour{
  grid-column: 4 / span 3;
  grid-row: 3 / span 20;
}

.stepImageOne{
  grid-column: 10 / span 3;
  grid-row: 13 / span 20;
}

.stepImageTwo {
  grid-column: 13 / span 3;
  grid-row: 1 / span 20;
}

.stepImageThree {
  grid-column: 1 / span 3;
  grid-row: 10 / span 20;
}

.stepImageFour {
  grid-column: 4 / span 3;
  grid-row: 2 / span 20;
}

.itinerary-description {
  grid-column: 2 / span 6;
  grid-row: 2 / span 27;
  font-size: x-large;
}

.itinerary-description-two {
  grid-column: 7 / span 6;
  grid-row: 2 / span 27;
  font-size: x-large;
}

.step-description {
  grid-column: 2 / span 6;
  grid-row: 1 / span 27;
  font-size: large;
}

.step-description-two {
  grid-column: 7 / span 6;
  grid-row: 2 / span 27;
  font-size: large;
}

.hr-custom{
  background-color: #c24646;
}

.resize{
  width: 300px;
  height: auto;
}

.resize-image{
  width: 200px;
  height: auto;
}

.revolution {
  width: 70%;
  margin: auto;
}