.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-group {
  text-align: left;
}

.link {
  padding: 0.4rem 0.8rem;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  color: #ffffff;
  margin: 5px;
}

#navbar-custom {
  background-color: #c65454;
}

#link-txt {
  color: white;
}

#link-txt:hover {
  color: #414c57;
}

.img {
  width: 10%;
}

.slide-show-div {
  width: 55%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.slide-div {
  width: 100%;
  height: 100%;
}
.slide-div img {
  width: 100%;
  border-radius: 5px;
  border-color: #c65454;
  border-style: solid;
}

.h2-txt {
  font-size: 80px;
  color: white;
  text-align: left;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 2%;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: #282c3465;
}

.img-title {
  position: absolute;
  width: 55%;
  height: 100px;
  top: 63%;
}
.right-arrow {
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0%;
  height: fit-content;
  width: 60px;
  margin: auto;
}

.left-arrow {
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 50%;
  height: fit-content;
  width: 60px;
  margin: auto;
}

.left-arrow button,
.right-arrow button {
  border-style: none;
  width: 60px;
  color: white;
  background-color: #414c57a6;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.welcome-msg {
  width: 45%;
  position: absolute;
  left: 25%;
  margin: 15px;
  top: 80%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  margin: 0 auto 20px;
}
.btn-out-red {
  background-color: #ffffff;
  border-radius: 3px;
  color: #c34a4a;
  border: solid;
  border-color: #c34a4a;
  padding: 5px;
}

.btn-out-red:hover {
  background-color: #c34a4a;
  border-radius: 3px;
  color: #ffffff;
  border: solid;
  border-color: #c34a4a;
  padding: 5px;
}
h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

li {
  font-size: large;
}

p {
  font-size: medium;
}

.wrapper {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.grid-item {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.title {
  grid-column: 1 / span 5;
  grid-row: 1;
  text-align: left;
  font-size: xxx-large;
}

.image {
  grid-column: 1 / span 3;
  grid-row: 2 / span 6;
}

.reviews {
  grid-column: 1 / span 3;
  grid-row: 8 / span 3;
}

.chat {
  grid-column: 4 / span 2;
  grid-row: 8 / span 3;
}

.join-btn,
.chat-btn {
  font-size: 20px;
}

#username_input,
#message {
  font-size: 20px;
}

.chat-msg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-name {
  color: #c24646;
}

.chat-log {
  margin-left: 15%;
  text-align: left;
}

.render-chat {
  overflow: scroll;
  height: 143px;
  background-color: #fff7f7;
}

.address {
  grid-column: 4 / span 2;
  grid-row: 2 / span 1;
  text-align: left;
}

.facts {
  text-align: left;
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
}

.description {
  text-align: left;
  grid-column: 4 / span 2;
  grid-row: 5 / span 3;
}

.map-container {
  height: 700px;
}

.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.map-popup h1 {
  color: #c65454;
  font-size: 14px;
  margin-top: 15px;
}

.map-container {
  width: 65%;
}
.map {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
  margin-top: 20px;
  flex-direction: row;
}

.button {
  padding: 0.4rem 0.8rem;
  background-color: #c34a4a;
  border-radius: 3px;
  color: #ffff;
  text-decoration: none !important;
  margin: 5px;
  font-size: large;
}

.itinerary-container {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.itinerary-title {
  grid-column: 1 / span 15;
  grid-row: 1;
  text-align: center;
}

.itinerary-stop-title {
  grid-column: 1 / span 15;
  grid-row: 1;
  text-align: left;
  font-size: x-large;
  padding: 1%;
}

.itinerary {
  background-color: #ffdcdc;
}
.itineraries-title {
  color: #c65454;
  text-align: left;
  margin-left: 15%;
}
.customImageItinerary {
  grid-column: 10 / span 3;
  grid-row: 2 / span 20;
}

.imageOne {
  grid-column: 10 / span 3;
  grid-row: 11 / span 20;
}

.imageTwo {
  grid-column: 13 / span 3;
  grid-row: 2 / span 20;
}

.imageThree {
  grid-column: 1 / span 3;
  grid-row: 8 / span 20;
}

.imageFour {
  grid-column: 4 / span 3;
  grid-row: 3 / span 20;
}

.stepImageOne {
  grid-column: 10 / span 3;
  grid-row: 10 / span 20;
}

.stepImageTwo {
  grid-column: 13 / span 3;
  grid-row: 1 / span 20;
}

.stepImageThree {
  grid-column: 1 / span 3;
  grid-row: 10 / span 20;
}

.stepImageFour {
  grid-column: 4 / span 3;
  grid-row: 2 / span 20;
}

.itinerary-description {
  grid-column: 2 / span 6;
  grid-row: 2 / span 27;
  font-size: x-large;
  text-align: justify;
}

.itinerary-description-two {
  grid-column: 7 / span 6;
  grid-row: 2 / span 27;
  font-size: x-large;
  text-align: justify;
}

.step-description {
  grid-column: 2 / span 6;
  grid-row: 1 / span 27;
  font-size: large;
  text-align: justify;
}

.step-description-two {
  grid-column: 7 / span 6;
  grid-row: 2 / span 27;
  font-size: large;
  text-align: justify;
}

.hr-custom {
  background-color: #c34a4a;
  width: 75%;
}

.itinerary-title {
  text-align: left;
  margin-left: 15%;
}

.review-txt {
  color: #282c34;
}

.resize {
  width: 300px;
  height: auto;
}

.resize-image {
  width: 200px;
  height: auto;
}

.revolution {
  width: 70%;
  margin: auto;
}

.form-checks {
  text-align: left;
  width: 15%;
  margin-left: 45%;
}

.description-list {
  text-align: left;
}

.create-itinerary-paragraph {
  width: 50%;
  margin: auto;
}

.link-itinerary {
  color: #c55050;
}

#instructions {
  position: relative;
  width: 25%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: scroll;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.dir-btn {
  height: 40px;

  width: auto;
}

.btn-link {
  background-color: #c34a4a;
  border-radius: 3px;
  color: #ffff;
  text-decoration: none !important;
  margin: 5px;
  font-size: large;
}

.btn-link:hover {
  color: #282c34;
}

.saved-itinerary {
  text-align: left;
}

.saved-itinerary-div {
  width: 50%;
}

.post-review-div {
  display: flex;
  text-align: right;
  justify-content: center;
  font-size: 20px;
}

#reviewList {
  list-style: none;
  margin-left: 100px;
  margin-right: 100px;
}

.review-li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.review-li span {
  font-weight: 600;
}
.review-li p {
  margin-bottom: 0;
  text-align: left;
}

.review-user {
  color: #c65454;
}

#rating {
  margin-right: 100px;
}

.review-tog {
  background: none;
  border: none;
  font-size: x-large;
  color: #c65454;
}
.review-tog:hover {
  background: none;
  border: none;
  font-size: x-large;
  font-weight: 500;
}
.div-class {
  margin: auto;
  width: 50%;
}

red-div {
  color: #c65454;
  background-color: #c65454;
}

title-account {
  font-size: xx-large;
  color: #c65454;
}

.account-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.account-settings {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
}

.account-signout {
  margin-left: auto;
  margin-right: 1%;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 200px;
  max-width: 800px;
  width: 100%;
}

.form-group input {
  min-width: 200px;
  max-width: 800px;
  width: 100%;
  margin: 0px 5px;
}

.form-group label {
  width: fit-content;
  white-space: nowrap;
}

.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.btn-group button {
  margin: 0px 10px;
}

.form-rp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.form-item-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.request-site {
  margin: 10px;
}

.admin-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.admin-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: left;
  margin: 10px;
}

.popup-edit {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 20;
  text-align: left;
  align-items: center;
  justify-content: left;
  background-color: white;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 10px;
  height: 70%;
  overflow-y: scroll;
  max-width: 800px;
  min-width: 500px;
  width: 100%;
}

.btn-close {
  background-color: #c34a4a;
  color: #f8f9fa;
  margin: 10px;
}

.btn-close:hover {
  background-color: #c34a4a;
  color: #282c34;
}

.add-admin label {
  width: fit-content;
  white-space: nowrap;
  margin-left: 5px;
}

.btn-primary {
  background-color: #0072ee;
}

.error {
  color: #ee0000;
}
